<div class="footer">
  <div class="container-fluid  mt-4 py-5 bg-white ">
    <div class="row  justify-content-space-between m-auto ">
      <div class="col d-flex justify-content-center  col-6 col-lg-4 ">
        <div class="contact align-items-between">
          <h4 class="mb-3">Contact Us</h4>
          <p>cartshop.io</p>
          <p>Phone: (123) 456-7890</p>
          <p>example/gmail.com</p>
        </div>
      </div>
      <div class="col d-flex justify-content-center  col-6 col-lg-4">
        <div class="catagories">
          <h4 class="mb-3">Categories</h4>
          <a [routerLink]="['/product-page','fashion']"><p>Fashion</p></a>
          <a [routerLink]="['/product-page','toys']"><p>Toys</p></a>
          <a [routerLink]="['/product-page','appliances']"><p>Appliances</p></a>
          <a [routerLink]="['/product-page','home & furniture']"><p>Home & Furniture</p></a>
        </div>
      </div>
      <div class="col d-flex justify-content-center  col-6 col-lg-4">
        <div class="quickLinks">
          <h4 class="mb-3">Quick Links</h4>
          <a [routerLink]="['/home']"><p>Home</p></a>
          <a [routerLink]="['/userLogin']"><p>Register</p></a>
          <a [routerLink]="['/login']"><p>Login</p></a>
        </div>
      </div>

    </div>
  </div>
</div>
