
.row{
  background-color: white;
  margin: 50px 0;
padding: 20px;


.content{
    .productContent{
      padding: 30px;
      .image{
        height: 200px;
        width: 90%;
        img{
         height: 100%;
         width: 100%;
         object-fit: contain;
       }
      }
      h4{
        font-size: 15px;
        margin-top: 20px;
        &:hover{
          font-weight: 500;
        }
      }
    }

    a{
      text-decoration: none;
      color: black;
      font-size: 14px;
      padding: 10px;

    }
  }
}
.container{
  .catagorise{
    img{
      min-height: 82.22px;
      min-width: 82.22px;
    }
  }
}

